::-webkit-scrollbar 
{
	background: transparent;
	width: 0px;
}

#menu
{
	background-color: #000000;
	height: 90%;
	left: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	padding-top: 80px;
	position: fixed;
	transition: 0.5s;
	top: 0;
	width: 80px;
	z-index: 1;

	#toggleButton 
	{
		background-color: rgba(0,0,0,0);
		border-style: hidden;
		color: #FFFFFF;
		font-size: 36px;
		position: absolute;
		right: 20px;
		top: 25px;
	}
	
	#clicky
	{
		margin-left: 80px;
		text-align: center;

		button
		{
			color: #FFFFFF;
			display: block;
			font-size: 20px;	
			width: 300px;
		}

		.expandButton
		{
			background-color: rgba(255,0,0,0);
			border-style: hidden;
			font-weight: bold;
			position: relative;
			margin-top: 5px;

			span
			{
				color: #FFFFFF;
				right: 0;
				position: absolute;
			}
		}

		.expandDiv
		{
			height: 0;
			overflow-x: hidden;
			overflow-y: hidden;
		}

		.linkButton
		{
			background-color: rgba(0,255,0,0);
			border-style: hidden;
			font-size: 18px;
		}
	}
}


#cards
{
	margin-left: 80px;
}

#setTemplate
{
	display: none;
	margin-left: 80px;
}
