body
{
    position: relative;
}

#menu
{
    background-color: #FF0000;
    display: inline-block;
    width: 15%;
}

#cards
{
    background-color: #00FF00;
    display: inline-block;
    width: 80%;
}
