::-webkit-scrollbar {
  background: transparent;
  width: 0px;
}

#menu {
  background-color: #000000;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  transition: 0.5s;
  top: 0;
  width: 80px;
  z-index: 1;
}
#menu #toggleButton {
  background-color: rgba(0, 0, 0, 0);
  border-style: hidden;
  color: #FFFFFF;
  font-size: 36px;
  left: 15px;
  position: sticky;
  top: 15px;
}
#menu #clicky {
  margin-left: 80px;
  text-align: center;
}
#menu #clicky button {
  color: #FFFFFF;
  display: block;
  font-size: 20px;
  width: 300px;
}
#menu #clicky .expandButton {
  background-color: rgba(255, 0, 0, 0);
  border-style: hidden;
  font-weight: bold;
  position: relative;
  margin-top: 5px;
}
#menu #clicky .expandButton span {
  color: #FFFFFF;
  right: 0;
  position: absolute;
}
#menu #clicky .expandDiv {
  height: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}
#menu #clicky .linkButton {
  background-color: rgba(0, 255, 0, 0);
  border-style: hidden;
  font-size: 18px;
}

#cards {
  margin-left: 80px;
}

.template {
  display: none;
  height: 100%;
  margin-left: 80px;
  position: relative;
}
.template #setHeader {
  background-color: #FFFFFF;
  height: 20%;
  position: sticky;
  top: 0;
}
.template #setHeader img {
  height: 100%;
}
.template #setHeader > * {
  display: inline-block;
  padding-right: 10px;
  vertical-align: middle;
}
.template #bspHeader > * {
  display: inline-block;
  padding-right: 10px;
  vertical-align: middle;
}
.template td {
  background-color: #F6F6F6;
  border-radius: 2px;
  padding: 5px;
}
.template td img {
  width: 50%;
}
.template th {
  background-color: #E0E0E0;
  border-radius: 2px;
  padding: 5px;
}
.template .artist {
  text-align: left;
}
.template .damage {
  text-align: left;
}
.template .Dark {
  background-color: #033538;
  text-align: center;
}
.template .dex {
  text-align: right;
}
.template .Dragon {
  background-color: #C6A114;
  text-align: center;
}
.template .Electric {
  background-color: #EEBE01;
  text-align: center;
}
.template .Fairy {
  background-color: #D01D4F;
  text-align: center;
}
.template .Fire {
  background-color: #E71416;
  text-align: center;
}
.template .Fighting {
  background-color: #B7401E;
  text-align: center;
}
.template .Grass {
  background-color: #00963F;
  text-align: center;
}
.template .holofoil {
  text-align: left;
}
.template .Item {
  color: #025FA9;
}
.template .name {
  text-align: left;
}
.template .Normal {
  background-color: #E2E7EE;
  text-align: center;
}
.template .Poison {
  background-color: #7D52A1;
  text-align: center;
}
.template .price {
  text-align: left;
}
.template .rarity {
  text-align: center;
}
.template .setnum {
  text-align: center;
}
.template .Steel {
  background-color: #636E77;
  text-align: center;
}
.template .Stadium {
  color: #4FAC3F;
}
.template .Supporter {
  color: #CF4226;
}
.template .Water {
  background-color: #0295D2;
  text-align: center;
}
.template .xtrainfo {
  text-align: left;
}
